<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <!-- {% if session['is_logged'] %} -->
    <a class="navbar-brand" href="/">Welcom! {{session['username']}}</a>
    <!-- {% else %}
    <a lass="navbar-brand" href="/">Flask_WEB</a>
    {% endif %} -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/data">Data</a>
        <!-- </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
        </li>
      </ul>
    </div>
    <div>
      <ul class="navbar-nav">

      <!-- {% if session['is_logged'] %} -->
      <li class="nav-item">
        <a class="nav-link" href="/logout">LogOut</a>
      </li>
      <!-- {% else %} -->
      <li class="nav-item">
        <a class="nav-link" href="/login">LogIn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <!-- {% endif %} -->

      </ul>
    </div>
    </div>
  </nav>