<!DOCTYPE HTML>
<html>
	
	<head>
		<title>Elements - Projection by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static',filename='assets/css/main.css')}}" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/index" class="logo"><strong>Projection</strong> by TEMPLATED</a>
					<nav id="nav">
						<a href="/index">Home</a>
						<a href="/data">Data</a>
                        {% if session['is_logged'] %}
                        <a href="/logout">Log Out</a>
                        {% else %}
                        <a href="/register">Register</a>
                        {% endif %}

					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>
			<footer id="footer" >
				<div class="inner">

					<h3>Write New Data</h3>

                    <form action = "/add_data" method="POST" enctype = "multipart/form-data" onsubmit = "return confirm('이대로 작성하시겠습니까?')">


						
						<div class="field half">
							<label for="username">UserName</label>
							<input name="username" type="text" placeholder="User Name">
                        </div>
                        <br>
						<div class="field half">
							<label for="title">Title</label>
							<input name="title" type="text" class="form-control"  placeholder="Title">
                        </div>
                        <br>
                        <div class="field half">
							<label for="text">Contents</label>
                        <textarea name="contents" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
						<ul class="actions">
                            <br>
                            <input type="file" name="image" >
                        </div>
                        
                        <div>
							<input type="submit" value="Submit" class="button alt" >
                    </div>
                        </ul>
						
					</form>

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>
		<!-- Scripts -->
			<script src="{{url_for('static',filename='assets/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static',filename='assets/js/skel.min.js')}}"></script>
			<script src="{{url_for('static',filename='assets/js/util.js')}}"></script>
			<script src="{{url_for('static',filename='assets/js/main.js')}}"></script>

	</body>
</html>