<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Elements - Projection by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static',filename='assets/css/main.css')}}" />
	</head>
	<body class="subpage">

        <!-- Header -->
        <header id="header">
            <div class="inner">
                <a href="/index" class="logo"><strong>Projection</strong> by TEMPLATED</a>
                <nav id="nav">
                    <a href="/index">Home</a>
                    <a href="/data">Data</a>
                    {% if session['is_logged'] %}
                    <a href="/logout">Log Out</a>
                    {% else %}
                    <a href="/register">Register</a>
                    {% endif %}

                </nav>
                <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
            </div>
        </header>

        <!-- Main -->
        <section id="main" class="wrapper">
            <div class="inner">
                <header class="align-center">
                    <h2>DATA</h2>
                </header>
			<div class="table-wrapper">
				<table class="alt">
					<thead>
						<tr>
							<th>ID</th>
                            <th>UserName</th>
                            <th>Title</th>
                            <th>Contents</th>
                            <th>Time</th>
						</tr>
					</thead>
					<tbody>
                        {% for data in data %}
                          <tr>
                            <td>{{ data[0] }}</td>
                            <td>{{ data[1] }}</td>
                            <td>{{ data[2] }}</td>
                            <td>{{ data[3] }}</td>
                            <td>{{ data[4] }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
				</table>
            </div>
            <div class="align-center">
            <a href="/add_data" class="button ">Write</a>
            </div>


							</div>
							<div class="6u$ 12u$(medium)">

	</body>
</html>