{% extends "layouts.html" %}
<head>
    <div class="dropdown-menu">
    </head>
{% block body %}

<!DOCTYPE html>
<html lang="en">

    <form class="px-4 py-3" method="POST" action="/login" >
        <div class="login-title">
            <br>
            <h2 class="text-center text-success">Login Page</h2><br><br>
        </div>
      <div class="form-group" >
        <label for="exampleDropdownFormEmail1">Email address</label>
        <input name="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
      </div>
      <div class="form-group">
        <label for="exampleDropdownFormPassword1">Password</label>
        <input name="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-success btn-lg btn-block">Log in</button>
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">New around here? Sign up</a>
    <a class="dropdown-item" href="#">Forgot password?</a>
</div>
</div>
  </html>
  
  {% endblock %}